footer {
    padding: 0px;
    margin-top: 13px;
    height: 60px;
    width: 100%;
    background-color: rgb(21, 2, 128);
    text-align: center;
    justify-content: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
}

footer a:hover {
    color: rgb(129, 129, 129);
    font-size: 25px;
}