@media screen and (max-width: 767px) {
    body {
        margin: 0px;
        width: 100%;
    }
    header {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    main {
        width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    footer {
        width: 100%;
        margin: 0px;
    }
    /*escribir mensaje*/
    #inputMensaje {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
    }
    #inputMensajeUser {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #textEncriptar::placeholder {
        font-size: larger;
        font-weight: 100px;
        color: rgb(100, 100, 247);
    }
    /*Mostrar mensajes */
    #outMensaje {
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
    }
    #printMensaje {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #inputMensaje button {
        margin: 0px;
    }
}


/*Tablets*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        margin: 0px;
        width: 100%;
    }
    header {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    main {
        width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    footer {
        width: 100%;
        margin: 0px;
    }
    /*escribir mensaje*/
    #inputMensaje {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
    }
    #inputMensajeUser {
        padding: 0px;
        margin: 0px;
    }
    #textEncriptar::placeholder {
        font-size: larger;
        font-weight: 100px;
        color: rgb(100, 100, 247);
    }
    /*Mostrar mensajes */
    #outMensaje {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
    }
    #printMensaje {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #inputMensaje button {
        margin: 0px;
    }
    #copyText {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}


/* Pantallas */

@media screen and (min-width: 1024px) {
    body {
        margin: 0px;
        width: 100%;
    }
    header {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    main {
        width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    footer {
        width: 100%;
        margin: 0px;
        position: fixed;
        bottom: 0;
        width: 100%
    }
    /*escribir mensaje*/
    #inputMensaje {
        width: 45%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
    }
    #inputMensajeUser {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #textEncriptar::placeholder {
        font-size: larger;
        font-weight: 100px;
        color: rgb(100, 100, 247);
    }
    /*Mostrar mensajes */
    #outMensaje {
        width: 45%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 10px;
    }
    #printMensaje {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #inputMensaje button {
        margin: 0px;
    }
}